{% extends 'base.html' %}
{% block content %}
<br>
    <div class="top-content">
        <div class="row">
            <div class="col-lg-12">
                <a href="{% url 'moderation:my_list_moderation' %}" class="href-on-page"><p>Архив модераций</p></a>
            </div>
        </div>
    </div>

    <hr>
    <div class="top-content">
        <div class="row">
            <div class="col-lg-12">
                {% if object_list|length != 0 %}
                    <p>Список объявлений для модерации: </p>
                {% else %}
                    <p>Извините, но работы пока нет!</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        {% include 'moderation_list.html' %}
        {% include 'pagination.html' %}
    </div>
    <br>
{% endblock content %}