{% load static %}
{% load humanize %}
{% load formated_datas %}

{% for object in object_list %}
    <hr>
        <div class="row product-item">
            <div class="col-md-4">
                <div class="product-item-image">
                    {% if  object.main_image %}
                        <img src="{{ object.main_image.url }}" class="mx-auto d-block" width="100%" height="200" alt="advertisement">
                    {% else %}
                        <img src="{% static 'img/480px-No_image_available.png' %}" class="mx-auto d-block" width="200" alt="advertisement">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class=class="product-item-text">
                    <h5>{{ object.title }}</h5>
                    <br>
{#                    <div class="ad-id" data-id="{{ object.id }}">#}
{#                    </div>#}
                    <a class="card-text">{{ object.description|truncatechars:100 }}</a><br>
                    {% if object.updated %}
                        <a class="card-action">Обновлено {{ object.updated.date|formated_datas }}</a>
                    {% else %}
                        <a class="card-action">Создано {{ object.created.date|formated_datas }}</a>
                    {% endif %}
                    <li><b class="price">{{ object.price }} $</b></li>

                    <div>
                        <a href="{% url 'moderation:moderate_begin' pk=object.id%}">
                           <button class="btn btn-primary">Проверить</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
