{% extends 'base.html' %}
{% load static %}

{% load humanize %}
{% load formated_datas %}
{#{% load trans %}#}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load tz %}

{% block add_static %}
<link rel="stylesheet" type="text/css" href={% static "css/chat-style.css" %} />
{% endblock add_static %}

{% block content %}

    <p>Диалог по <a href="{% url 'advertisement_detail' pk=object.last_send_message.subject_ad.id %}">{{ object.last_send_message.subject_ad.title }}</a>:</p>
    <hr>

    {% for message_item in object.message_set.all %}
        <div class="list-group-item ">
            <div class="reply-body
                {% if request.user != message_item.sender_msg %}tab-block{% endif %}
                {% if not message_item.is_readed and request.user != message_item.sender_msg %}unreaded{% endif %}">
                <ul class="list-inline">
                    <li class="text-lg-left">
                        <small class="font-italic">Отправлено {{ message_item.pub_date|utc }}</small>
                    </li>

                    <li class="text-lg-left">
                        <small class="text-justify text-gray">
                            {% if request.user == message_item.sender_msg %}
                                Ваше сообщение
                            {% else %}
                                {% if message_item.sender_msg %}
                                    От {{ message_item.sender_msg.get_full_name }}
                                {% else %}
                                    От {{ message_item.temporary_user_email }}
{#                                        От {{ message_item.sender_msg.get_full_name|default_if_none:message_item.temporary_user_email }}#}
                                {% endif %}
                            {% endif %}
                        </small>
                    </li>

                    <li class="text-lg-left">
                        <p class="mb-0">{{ message_item.message }}</p>
                    </li>
                    {% if request.user == message_item.sender_msg and message_item.is_readed %}
                        <li class="text-lg-right">
                            <small class="font-italic">Прочтено {{ message_item.reading_date|utc }}</small>
                        </li>
                    {% endif %}
                </ul>
{#                    {% endfor %}#}
{#                    <div>{{ message_item.message|safe }}</div>#}
            </div>
        </div>
    {% endfor %}

    <br>
    <form name="dialog-message" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {% if form_message.errors %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span class="text-danger small">{{ form_message.errors }}</span>
                    </div>
                </div>
            {% endif %}

            <label for="{{ form_message.message.label }}">Сообщение:</label>
            {% render_field form_message.message rows="3" class='form-control' %}
        </div>
        <button type="submit" class="btn btn-success">Отправить</button>
    </form>
<br>
    <a href="{% url 'chat:dialog-delete' pk=object.id %}">
{#        <input type="submit" name="submit" class="btn btn-sm btn-danger" value="Удалить чат?"/>#}
        <button type="button" class="btn btn-danger">Удалить чат</button>
    </a>


    <div class="pagination">
        <span class="step-links">
            {% if object.has_previous %}
                <a href="page={{ advertisements.previous_page_number }}"><-</a>
            {% endif %}

            {% for page_num in page_nums %}
                {%  if  page_num == '...' %}
                {% else %}
                    <a href="?page={{ page_num }}">{{ page_num }} </a>
                {% endif %}
            {% endfor %}

            {% if advertisements.has_next %}
                <a href="?page={{ advertisements.next_page_number }}">-></a>
            {% endif %}
        </span>
    </div>

{% endblock content %}
