<!-- this is a form -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <div class="top-content">
       <h1 class='text-align-center'>{{title}}</h1>
    </div>

{% endblock %}

{% block content %}
    <div class="section-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form method="post" action="">
                        {% csrf_token %}
{#                        {{ form.as_p }}#}
                        {{ form | crispy }}
                        <input class="btn btn-default" type="submit" value="Отправить">
                    </form>
                </div>
            </div>
        </div>
    </div>


{#{% if user.is_authenticated %}#}
{#  Hi {{ user.username }}!#}
{#  <p><a href="{% url 'logout' %}">logout</a></p>#}
{#{% else %}#}
{#  <p>You are not logged in</p>#}
{#  <a href="{% url 'login' %}">login</a> |#}
{#  <a href="{% url 'signup' %}">signup</a>#}
{#{% endif %}#}
{% endblock %}