{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load formated_datas %}
{% load widget_tweaks %}

{% block title %} {{ advertisement.title }}, AppleUsed {% endblock title %}

{% block add_static %}
    <!--Import my JS sheet -->
    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>
{% endblock add_static %}

    {% block content %}
        <hr>
        <div class="row">
            <div class="col-lg-12 ">
    {#            <tb>#}
                {% if you_is_author %}
                    <div class="container-body select-body">
                        <a class=class="col-lg-3">

                                <div class="text-nowrap">
                                    Это ваше объявление.
                                    <a href="{% url 'edit_ad' pk=object.id %}">
                                        <input type="submit" name="submit" class="btn btn-sm btn-primary" value="Редактировать?"/>
                                    </a>
                                    <a href="{% url 'delete_ad' pk=object.id %}">
                                        <img src="/static/img/basket-trash.png" class="img-thumbnail align-right" width="33" height="30">
            {#                                <button type="submit" class="btn btn-default btn-sm">#}
            {#                                    <span class="glyphicon glyphicon-trash"></span>#}
            {#                                </button>#}
                                    </a>
                                </div>

                        </a>
                    </div>
                {% endif %}
                <br>
                <div class="container-body">
                    <h4 class="title_advertisement"><b>{{ object.title }}</b></h4>
                    <a class="text-capitalize">Категория: {{ object.category_equipment }}</a><br>
                    <a id="ad_id" data-key="{{ object.id }}">Номер объявления:{{ object.id }}</a><br>
                    <a>Добавлено {{ object.created | formated_datas}}</a><br>
                    <a class="author">Автор <b>{{ object.author.first_name }} </b></a><br>
                    <a class="phone_author">Телефон для связи с автором <b>{{ object.phone_author }}</b></a><br>
                    <a class="hit_count">Количество просмотров <b>
                         <img src="{% static 'img/views.gif' %}" class="img-thumbnail align-right" width="50" height="50">
                        {{ views_page }}</b></a><br>
                    {% if not you_is_author %}
                        <div class="favorite-item">
                            {% if user.is_authenticated %}
                                <a id="favorite" class="img-rounded"
                                   style='cursor: pointer'
                                    data-href-template="{% url 'ad-api-favorite' pk=object.id%}"
                                    data-id="{{ object.id }}">
                                    <img src="{{ img_following }}" class="img-thumbnail align-right" width="50" height="50">
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                    <a class="text">{{ object.description }}</a>
                    <div align="right">
                        <b class="price">{{ object.price }} USD</b></div>
                </div>
                <br>
                <div class="container-body">
                    <div align="center">
                        <ul class=class="col-lg-3">
                        {% if object.main_image %}
                            <img src="{{ object.main_image.url }}" class="img-thumbnail align-center" width="500" height="500"><br>
                            {% if object.images.all %}
                                {% for image_item in object.images.all %}
                                    <img src="{{ image_item.image.url }}" class="img-thumbnail align-center" width="500" height="500"><br>
                                    <hr>
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            <img src="{% static 'img/480px-No_image_available.png' %}" class="img-thumbnail" width="500" alt="advertisement">
                        {% endif %}
                        </ul>
                    </div>
    {#            </tb>#}
                </div>
                <div class=class="col-lg-3">
    {#                <li>#}
                    {% if  not you_is_author %}
                        <h5>Написать автору объявления:
                        <a href="#"><b> {{ object.title }}:</b></a><br>
                        </h5><br>
                    {% endif %}
    {#                </li>#}
                </div>
            </div>
        </div>

        <form name="dialog-message" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    {% if field.errors %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span class="text-danger small">{{ field.errors }}</span>
                            </div>
                        </div>
                    {% endif %}
                    <label for="{{ field.label }}">{{ field.label }}</label>
                    {% render_field field rows="3" class='form-control' %}
                {% endfor %}
            </div>
        <button type="submit" class="btn btn-success">Отправить</button>
        </form>
    {% endblock %}

<div class="footer">
</div>
