{% extends 'advertisements.html' %}

{% block content %}
    <p>Последние объявления на сайте:</p>
    <div class="sorted_advertisements">
		<ul class="order-select-gallery sort-order-type" id="order-select-gallery">
		<li class="list-label">
			Сортировать по:
		</li>
		<li>
            <a href="{% url 'advertisements_find' %}">сначала самые новые </a>

{#			<a class="link selected" data-type="created_at:desc" data-url="https://www.olx.ua/uk/list/?search%5Buser_id%5D=59880452&search%5Border%5D=created_at%3Adesc"><span>Найновіші</span></a>#}
		</li>
            <li>
				<a href="{% url 'advertisements_expensive' %}">сначала самые дорогие</a>
{#                <a class="link " data-type="filter_float_price:asc" data-url="https://www.olx.ua/uk/list/?search%5Buser_id%5D=59880452&search%5Border%5D=filter_float_price%3Aasc"><span>Найдешевші</span></a>#}
            </li>
            <li>
                <a >сначала самые дешовые</a>
                <a class="link " data-type="filter_float_price:desc" data-url="https://www.olx.ua/uk/list/?search%5Buser_id%5D=59880452&search%5Border%5D=filter_float_price%3Adesc"><span>Найдорожчі</span></a>
            </li>
        </ul>
    </div>
    {% for advertisement in advertisements %}
        <hr>
        <div class="advertisement">
            <img src="{{ advertisement.image.url }}" width="100">
            <a href="{% url 'single_advertisement' advertisement_id=advertisement.id %}">{{ advertisement.title }}</a>
{#            <a class="title_advertisement" >{{ advertisement.title }} </a>#}
            <div align="right"><b class="price">{{ advertisement.price }} USD</b></div>
            <b>Добавлено {{ advertisement.added | russian_date}}</b>

{#        This is the advertisement created was {{ advertisement.author.first_name }}<br>#}

        <hr>
        </div>
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if publications.has_previous %}
            <a href="page={{ publications.previous_page_number }}"><-</a>
        {% endif %}

        {% for page_num in page_nums %}
            {%  if  page_num == '...' %}
                {{ page_num }}
            {% else %}
                <a href="?page={{ page_num }}">{{ page_num }} </a>
            {% endif %}
        {% endfor %}


        {% if publications.has_next %}
            <a href="?page={{ publications.next_page_number }}">-></a>
        {% endif %}
    </span>
    </div>


{% endblock content %}