{% extends 'base.html' %}
{% load humanize %}
{% load formated_datas %}
{% load static %}
{% block content %}
    <br>
    <div class="top-content">
        <div class="row">
            <div class="col-lg-12">
                <a href="{% url 'my_active_advertisements' %}" class="href-on-page"><p>Ваши активные объявления</p></a>
            </div>
        </div>
    </div>
    <hr>
    {% if object_list|length > 0 %}
    <div class="section-top">
        <p>Ваши архивные объявления:</p>
    </div>
    {% endif %}
    {% if object_list|length is 0 %}
       <p> У Вас нет архивных объявлений.</p>
    {% endif %}
    <div class="section">
        <div class="container">
            {% include 'list_advertisements.html' %}
            {% include 'pagination.html' %}
        </div>
    </div>

{% endblock content %}