{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <b><h4>Создание объявления</h4></b><br>
        <form id="advertisement_form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    {% if field.errors %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span class="text-danger small">{{ field.errors }}</span>
                            </div>
                        </div>
                    {% endif %}
                    <label for="{{ field.label }}">{{ field.label }}</label>
                    {% render_field field rows="3" class='form-control' %}
                {% endfor %}
            </div>

            <div class="form-group">
                {{ image_form.management_form }}
                {% for form in advertisementimage_form %}
                    {% if form.errors %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span class="text-danger small">{{ form.errors }}</span>
                            </div>
                        </div>
                    {% endif %}
                    <label for="{{ form.label }}">{{ form.label }}</label>
                    {{ form.as_ul }}
                {% endfor %}
            </div>
            <div class="button">
                <input type="submit" name="submit" class="btn btn-success" value="Отправить" />
            </div>
        </form>
    </div>
    <br>
{% endblock content %}
