{% extends "base.html" %}

{% block content %}
    <div class="container">
        <b><h4>Создание объявления</h4></b><br>
        <form id="advertisement_form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span class="text-danger small">{{ field.errors }}</span>
                    </div>
                    <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                    <div class="col-sm-2">{{ field }}</div>
                </div>
            {% endfor %}

            {{ image_form.management_form }}
            {% for form in advertisementimage_form %}
                {{ form.as_ul }}

            {% endfor %}
            <input type="submit" name="submit" class="btn btn-success" value="Submit" />
        </form>
    </div>
{% endblock content %}
