{% extends 'base.html' %}

{% load humanize %}
{% load russion_datas %}

{% block content %}

    <form action="" method="GET">
{#        {% csrf_token %}#}
        <input type="text" name="find" placeholder="Введите название желаемой продукции Apple">
        <input type="submit" value="Искать">
        {{ form_filter.as_p }}
        <input type="submit" value="фильтровать">
    </form>

    <hr>
    <p>Последние объявления на сайте:</p>
    {% for advertisement in advertisements %}
        <hr>
        <div class="advertisement">
            <img src="{{ advertisement.image.url }}" width="100">
            <a href="{% url 'single_advertisement' advertisement_id=advertisement.id %}">{{ advertisement.title }}</a>
{#            <a class="title_advertisement" >{{ advertisement.title }} </a>#}
            <div align="right"><b class="price">{{ advertisement.price }} USD</b></div>
            <b>Добавлено {{ advertisement.added | russian_date}}</b>

{#        This is the advertisement created was {{ advertisement.author.first_name }}<br>#}

        <hr>
        </div>
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if publications.has_previous %}
            <a href="page={{ publications.previous_page_number }}"><-</a>
        {% endif %}

        {% for page_num in page_nums %}
            {%  if  page_num == '...' %}
                {{ page_num }}
            {% else %}
                <a href="?page={{ page_num }}">{{ page_num }} </a>
            {% endif %}
        {% endfor %}

{#            <span class="current">#}
{#                Page {{ publications.number }} of {{ publications.paginator.num_pages }}.#}
{#            </span>#}

        {% if publications.has_next %}
            <a href="?page={{ publications.next_page_number }}">-></a>
        {% endif %}
    </span>
    </div>

{% endblock content %}