{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <form action="" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Введите название желаемой продукции Apple" value="{{ request.GET.q }}" aria-describedby="button-addon2">
{#            {% render_field form.search_query type="search" %}#}
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="button-addon2">Поиск</button>
            </div>
        </div>

        <a class="text-description">Фильтровать по цене</a>
        <input type="text" name="min_price" placeholder="от" value="{{ request.GET.min_price }}">
        <input type="text" name="max_price" placeholder="до" value="{{ request.GET.max_price }}">
        <br>
        <div class="input-group">
            <a class="text-description">Выбирите метод сортировки</a>
            <select class="custom-select" name="ordering" id="inputGroupSelect03" aria-label="Example select with button addon">
                <option value={{ request.GET.ordering }}>
                    {% if request.GET.ordering == '-created' %}
                        Сначала самые новые
                    {% elif request.GET.ordering == '-price' %}
                        По убыванию цены
                    {% elif request.GET.ordering == 'price' %}
                        По возрастанию цены
                    {% endif %}
                </option>
                <option value="-created">Сначала самые новые</option>
                <option value="-price">По убыванию цены</option>
                <option value="price">По возрастанию цены</option>
            </select>
        </div>
    </form>

    <hr>
    <div class="top-content">
        <div class="row">
            <div class="col-lg-12">
                {% if object_list|length != 0 %}
                    <p>В результате поиска найдено объявлений - {{ object_list|length }}: </p>
                {% else %}
                    <p>Извините, но ничего не найдено. Уточните поиск!</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">

        {% include 'list_advertisements.html' %}
        {% include 'pagination.html' %}
    </div>

{% endblock content %}
