{% extends "frame.html" %}


<div class="container">
    {% block content %}
        <b><h4>Создание объявления</h4></b><br>

    {{ Advertisement.title }}<br>
    Likes:{{ advertisement.get_likes_count }}<br>
    <a href="{% url 'like_single_publication' advertisement_id=advertisement.id %}">LIKE</a>
    <hr>
    <b>Написать автору объявления{{ advertisements.title }}:</b><br>

    {% endblock %}
</div>



{% block content %}
    <b><h4>Advertisement.title </h4></b><br>
    {{ advertisement.title }}<br>
    Likes:{{ advertisement.get_likes_count }}<br>
    <a href="{% url 'like_single_publication' advertisement_id=advertisement.id %}">LIKE</a>
    <hr>
    <b>Comment to {{ advertisement.title }}:</b><br>
    {% for comment in advertisement.comments.all %}
        <img src="{{ user.photo.url }}" width="30" height="30">
        {{ comment.user.get_full_name }}{{ comment.added }} <br>
        {{ comment.text }}<br>
    {% endfor %}
    <hr>
    <form action="{% url 'single_publication' publication_id=publication.id %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
{% endblock content %}