{% extends "frame.html" %}

{% load humanize %}
{% load russion_datas %}


    {% block content %}
{#            проверка {{ advertisement.body }}#}
        <div class="advertisement">
            <a>Номер объявления:{{ advertisement.id }}</a>
            <a>Добавлено {{ advertisement.added | russian_date}}</a><br>
            <a class="author">автором <b>{{ advertisement.author.first_name }} </b></a><br>
            <a class="phone_author">Телефон для связи с автором <b>{{ advertisement.phone_author }}</b></a>
            <b class="title_advertisement"><h4>{{ advertisement.title }}</h4></b>
            <div align="right"><b class="price">{{ advertisement.price }} USD</b></div><br>
            <img src="{{ advertisement.image.url }}" ><br>
            <hr>
            <div align="advertisement_body">{{ advertisement.body }}</div>


{#            <a href="{% url 'single_advertisement' advertisement_id=advertisement.id %}">{{ advertisement.title }}</a>#}
{#                    <a class="title_advertisement" >{{ advertisement.title }} </a>#}
{#            <div align="right">#}
{#                <a class="price">{{ advertisement.price }} USD</a>#}

{#            </div>#}
            <hr>
{##}
{#            <div align="center"><b class="body_advertisement">{{ advertisement.body }} </b></div>#}
{##}
        </div>
        <b>Написать автору объявления{{ advertisements.title }}:</b><br>
        <form action="{% url 'single_advertisement' advertisement_id=advertisement.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
            <button type="submit" class="send_message btn">Отправитть сообщение</button>
        </form>

    {% endblock %}
</div>


{##}
{#{% block content %}#}
{#    <b><h4>Advertisement.title </h4></b><br>#}
{#    {{ advertisement.title }}<br>#}
{#    Likes:{{ advertisement.get_likes_count }}<br>#}
{#    <a href="{% url 'like_single_publication' advertisement_id=advertisement.id %}">LIKE</a>#}
{#    <hr>#}
{#    <b>Comment to {{ advertisement.title }}:</b><br>#}
{#    {% for comment in advertisement.comments.all %}#}
{#        <img src="{{ user.photo.url }}" width="30" height="30">#}
{#        {{ comment.user.get_full_name }}{{ comment.added }} <br>#}
{#        {{ comment.text }}<br>#}
{#    {% endfor %}#}
{#    <hr>#}
{#    <form action="{% url 'single_publication' publication_id=publication.id %}" method="POST">#}
{#        {% csrf_token %}#}
{#        {{ form }}#}
{#        <input type="submit">#}
{#    </form>#}
{#{% endblock content %}#}