{% extends "base.html" %}
<title>{% block title %} Редактирование профиля {{ user.username }} {% endblock title %}</title>

{% block navbar %}
<div class="panel-menu">
    <a href="{% url 'advertisements' %}">К списку объявлений</a>
</div>
{% endblock navbar %}

{% block content %}
    <form class="col s12" action="{% url 'edit_profile_user' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
{
                <br>
                <br>

            {#        <a href="{% url 'change_password' %}" class="href-on-page">Изменить пароль</a>#}
            {#            {{ form.password }}<br>#}
            {#            <label for="{{ form.passwordConfirm.id_for_label }}"></label><br>#}
            {#            <p>Подтвердить пароль:</p>#}
            {#            {{ form.passwordConfirm }}#}
        <a> test to commit</a>
                <button type="submit" class="waves-effect waves-light btn">Сохранить</button>
{#            </div>#}
    </form>

{% endblock content %}