{% extends "base.html" %}

{% block title %}Вход{% endblock title %}
<div class="row">
    {% block content %}
        <h2>Bxoд</h2>
        {% if user.is_authenticated %}
            <p>Вы уже выполнили вход.</p>
        {% else %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
{#                        <input type="hidden" name="next" value="{{ next }}">#}
                <input type="submit" value="Войти">
            </form>
            <p>Забыли пароль?<a href="{% url 'password_reset' %}">Сбросить!</a><a href="{% url 'signup' %}">Зарегестрироваться</a>!</p>
        {% endif %}
    {% endblock content %}
</div>

