{% extends "base.html" %}

{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}


<!--
<div class="row">
    {% block content %}
        {% if request.user.is_authenticated %}
            <p align="center">Вы уже авторизованы. Хотите выйти?</p>
        {% else %}
            <form class="col s12" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <ul class='form-errors'>
                    {% for error in form.non_field_errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>

                <div class="input-field col s6">
{#                    <input placeholder="Email" id="">#}
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
{#                    {{ form.as_p }}#}
                </div>

                <div class="input-field col s6">
{#                    <input placeholder="Email" id="">#}
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    {{ form.password }}
                </div>
                <button type="submit" class="waves-effect waves-light btn">Войти</button>
                <a href="">Забыли пароль</a>
                 <p align="center">Еще нет акаунта?<a href="{% url 'registration' %}">Регистрация</a></p>

    {#            {% for error in form.non_field_errors %}#}
    {#                    <strong>{{ error|escape }}</strong>#}
    {#            {% endfor %}#}
{#                    {% if request.user.is_authenticated %}#}
{#                        ТРА-Л/-Л/#}
{#                        <button type="submit" class="waves-effect waves-light btn">Вти</button>#}
{#                    {% else %}#}
{#                        <div class="input-field col s6">#}
    {#                    <input placeholder="Email" id="">#}
{#                        <label for="{{ form.email.id_for_label }}">Email</label>#}
{#                        {{ form.email }}#}
    {#                    {{ form.as_p }}#}
{#                        </div>#}
{#    #}
{#                        <div class="input-field col s6">#}
        {#                    <input placeholder="Email" id="">#}
{#                            <label for="{{ form.password.id_for_label }}">Password</label>#}
{#                            {{ form.password }}#}
{#                        </div>#}
{#                        <button type="submit" class="waves-effect waves-light btn">Войти</button>#}
    {#                    Пожалуста авторизуйтесь!#}
{#                    {% endif %}#}

            </form>
        {% endif %}
    {% endblock content %}
</div>