{% extends "base.html" %}
<title>{% block title %} Личный кабинет {{ user.username }} {% endblock title %}</title>

{% block navbar %}
<div class="panel-menu">
    <a href="{% url 'advertisements' %}">К списку объявлений</a>
</div>
{% endblock navbar %}

{% block content %}
{#        <form class="col s12" action="{% url 'profile_user' %}" method="GET">#}
    {% csrf_token %}
    <div class ="container">
        <div class="row">
            <div class="input-field col s6">
               <h5><b>Личный кабинет {{ user.username }} </b></h5>
                <p>Имя пользователя: <b>{{ user.first_name }}</b></p>
                <p>Фамилия пользователя: <b>{{ user.last_name }}</b></p>
                <p>Email: <b>{{ user.email }}</b></p>
                <p>Location: <b>{{ user.locations_user }}</b> </p>
{#                <p>Phone number<b> {{ user.phone_number_user }}</b> </p>#}
                {% if user.birth_day == None %}
                    <p>День рождения пользователя: <b>Не заполнено</b></p>
                {% else %}
                    <p>День рождения пользователя: <b>{{ user.birth_day }}</b></p>
                {% endif %}
                <p>Phone number:<b> {{ user.phone_number_user }}</b></p>

                <a href="{% url 'edit_profile_user' user.id %}" class="href-on-page">Редатировать</a>
            </div>
        </div>
    </div>


{% endblock content %}