{% extends "base.html" %}

<div class="registrtion-form">
    {% block content %}
        <form class="col s12" action="{% url 'registration' %}" method="post">
            {% csrf_token %}

            {% for error in form.non_field_errors %}
                <div class="text-center">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
            {{ form.as_p }}

{##}
{#            <div class="input-field col s6">#}
{#                <label for="{{ form.username.id_for_label }}"><p>Имя пользователя:</p></label>#}
{#                {{ form.username }}#}
{#            </div>#}
{#            <br>#}
{#                {% if form.username.errors %}#}
{#                    <div class="text-center"><strong>{{ form.username.errors|escape }}</strong></div>#}
{#                {% endif %}#}

            <div class="input-field col s6">
                <label for="{{ form.email.id_for_label }}"><p>Email:</p></label>
                {{ form.email }}
            </div>
{#            <br>#}
                {% if form.email.errors %}
                    <div class="text-center"><strong>{{ form.email.errors|escape }}</strong></div>
                {% endif %}

            <div class="input-field col s6">
                <label for="{{ form.password.id_for_label }}"><p>Пароль:</p></label>
                {{ form.password }}
            </div>
            <br>
                {% if form.password.errors %}
                    <div class="text-center"><strong>{{ form.password.errors|escape }}</strong></div>
                {% endif %}

            <div class="input-field col s6">
                <label for="{{ form.passwordConfirm.id_for_label }}"><p>Подтвердить пароль:</p></label>
                {{ form.passwordConfirm }}
            </div>
            <br>
                {% if form.passwordConfirm.errors %}
                    <div class="text-center"><strong>{{ form.passwordConfirm.errors|escape }}</strong></div>
                {% endif %}
            <br>
            <div class="input-field col s6">
                <label for="{{ form.birthday.id_for_label }}"><p>День рождения:</p></label>
{#                <input type="text" class="datepicker">#}
                {{ form.birthday }}

{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class='col-sm-6'>#}
{#                            <div class="form-group">#}
{#                                <div class='input-group date' id='datetimepicker1'>#}
{#                                    <input type='text' class="form-control" />#}
{#                                    <span class="input-group-addon">#}
{#                                        <span class="glyphicon glyphicon-calendar"></span>#}
{#                                    </span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <script type="text/javascript">#}
{#                            $(function () {#}
{#                                $('#datetimepicker1').datetimepicker();#}
{#                            });#}
{#                        </script>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <br>
                {% if form.birthday.errors %}
                    <div class="text-center"><strong>{{ form.birthday.errors|escape }}</strong></div>
                {% endif %}
                <button type="submit" class="waves-effect waves-light btn">Зарегистрироваться</button>

            </form>
{#        <script>#}
{#            const Calendar = document.querySelector('.datepicker');#}
{#            M.Datepicker.init(Calendar, {});#}
{#        </script>#}
{#        <script>  document.addEventListener('DOMContentLoaded', function() {#}
{#        var elems = document.querySelectorAll('.datepicker');#}
{#        var instances = M.Datepicker.init(elems, options);#}
{#        });#}
{#        </script>#}
    {% endblock content %}
</div>