{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

    <h2>Регистрация пользователя</h2>
    <form method="post">
        {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    {% if field.errors %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span class="text-danger small">{{ field.errors }}</span>
                            </div>
                        </div>
                    {% endif %}
                    <label for="{{ field.label }}">{{ field.label }}</label>
                    {% render_field field rows="3" class='form-control' %}
                {% endfor %}
            </div>

        <button type="submit">Зарегестрироваться</button>
    </form>
{% endblock %}
