{% extends 'base.html' %}

{% load humanize %}
{% load formated_datas %}

{% block content %}

    <form action="" method="GET">
{#        {% csrf_token %}#}
        <input type="text" name="find" placeholder="Введите название желаемой продукции Apple">
        <input type="submit" value="Искать">
        {{ form_filter.as_p }}
        <input type="submit" value="фильтровать">
    </form>

    <div class="sorted_advertisements">
        <ul class="order-select-gallery sort-order-type" id="order-select-gallery">
		<li class="list-label">
			Сортировать по:
		</li>
		<li>
            <a class="ordering" href="{% url 'advertisements_sorted_inexpensive' %}">сначала самые дешевые </a>

{#			<a class="link selected" data-type="created_at:desc" data-url="https://www.olx.ua/uk/list/?search%5Buser_id%5D=59880452&search%5Border%5D=created_at%3Adesc"><span>Найновіші</span></a>#}
		</li>
        <li>
            <a class="ordering" href="{% url 'advertisements_sorted_expensive' %}">сначала самые дорогие</a>
{#                <a class="link " data-type="filter_float_price:asc" data-url="https://www.olx.ua/uk/list/?search%5Buser_id%5D=59880452&search%5Border%5D=filter_float_price%3Aasc"><span>Найдешевші</span></a>#}
        </li>
{#            <li>#}
{#                <a href="{% url 'advertisements_inexpensive' %}">сначала самые дешовые</a>#}
{#                <a class="link " data-type="filter_float_price:desc" data-url="https://www.olx.ua/uk/list/?search%5Buser_id%5D=59880452&search%5Border%5D=filter_float_price%3Adesc"><span>Найдорожчі</span></a>#}
{#            </li>#}
        </ul>
    </div>
{##}
    <form action="" method="get">
{#    <a name="order" id="-price" href="{% url 'advertisements' %}" >   по убыванию цены</a>#}
{#        <a href="{% url 'advertisements' %}" >  по возростанию цены</a>#}

        {#        <input type="radio" name="order" id="-price" value="по убыванию цены" />#}
{#        <label for="-price">по убыванию цены</label><br/>#}
{#        <input type="radio" name="order" id="price" value="по взнерщт ьфтфпуюозростанию цены"/>#}
{#        <label for="price">по возростанию цены</label><br/>#}
{#        <input type="radio" name="order" id="-added" value="по дате добавления"/>#}
{#        <label for="-added">по дате добавления</label><br/>#}
{#        <input type="submit" value="отсортировать"/>#}
    </form>

    <p>Последние объявления на сайте:</p>
{#    <div class="filter_price">#}
{#        <p>Фильтрация по цене:</p>#}
{#        <form action="" method="GET" enctype="multipart/form-data">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <form action="task_1.1.html" name="home_work_1_Protsiuk"; method="post"; enctype="multipart/form-data">#}
{#            <input type="text"; name="firstname"; placeholder="Enter your Firstname">#}
{#            <input type="text" name="lastname"; placeholder="Enter your Lastname">#}
{#            <input type="email" name="email"; placeholder="Enter your email">#}
{##}
{#            <input type="submit" value="Фильтровать">#}
{#        </form>#}
{##}
{#    </div>#}

    {% for advertisement in advertisements %}
        <hr>
        <div class="advertisement">
            <img src="{{ advertisement.image.url }}" width="100">
            <a href="{% url 'single_advertisement' advertisement_id=advertisement.id %}">{{ advertisement.title }}</a>
    {#            <a class="title_advertisement" >{{ advertisement.title }} </a>#}
            <div align="right"><b class="price">{{ advertisement.price }} USD</b></div>
            <b>Добавлено {{ advertisement.added | russian_date}}</b>

    {#        This is the advertisement created was {{ advertisement.author.first_name }}<br>#}

        <hr>
        </div>
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if advertisements.has_previous %}
            <a href="page={{ advertisements.previous_page_number }}"><-</a>
        {% endif %}

        {% for page_num in page_nums %}
            {%  if  page_num == '...' %}
                {{ page_num }}
            {% else %}
                <a href="?page={{ page_num }}">{{ page_num }} </a>
            {% endif %}
        {% endfor %}

    {#            <span class="current">#}
    {#                Page {{ publications.number }} of {{ publications.paginator.num_pages }}.#}
    {#            </span>#}

        {% if advertisements.has_next %}
            <a href="?page={{ advertisements.next_page_number }}">-></a>
        {% endif %}
    </span>
    </div>


{#    <div class="pagination">#}
{##}
{#    {% if advertisements.has_previous %}#}
{#        <a href="?page={{ advertisements.previous_page_number }}">←</a>#}
{#    {% endif %}#}
{##}
{#    {% for num in advertisements.paginator.page_range %}#}
{#        {% if num == advertisements.number %}#}
{#            <span class="current"><b>{{ num }}</b></span>#}
{#        {% else %}#}
{#            <a href="?page={{ num }}"> {{ num }}</a>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{##}
{#    {% if advertisement_list.has_next %}#}
{#        <a href="?page={{ advertisements_list.next_page_number }}">→</a>#}
{#    {% endif %}#}
{##}
{#    </div>#}
{% endblock content %}
