<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %} />
    <title>{% block title %} AppleUsed {% endblock title %}</title>
{#    <title>{% block title %}<img src="{% static 'img/apple_icon.ico' %}"> AppleUsed {% endblock title %}</title>#}
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

</head>


<body>

<nav>
    <div class="nav-wrapper">
        <img src="{% static 'img/apple_logo.gif' %}" width="50" height="50">
        <a href="{% url 'main' %}" class="brand-logo">AppleUsed</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
{#        {% if form.errors %}#}
{#            <p> Your username and password didn't math</p>#}
{#        {% endif %}#}
            {% if request.user.is_authenticated %}
                <span> Добро пожаловать <b>{{ request.user.username }}</b></span>
                <li><b><a href="{% url 'logout' %}">Выйти</a></b></li>
            {% else %}
                <li><a href="{% url 'login' %}">Авторизоваться</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
 <a href="{% url 'advertisements' %}">Перейти к списку объявлений</a>

{##}
{#    {% block content %}#}
{#        <a href="{% url 'advertisements' %}">Перейти к списку объявлений</a>#}
{#    {% endblock content %}#}


<div class="container">
    {% block content %}
        <a href="{% url 'advertisements' %}">Перейти к списку объявлений</a>
    {% endblock content %}
</div>


<div class="constanta_low">

    {% block constanta_low %}

    {% endblock constanta_low %}
    <hr>

</div>

<footer about="contact">
    <p> 2017 @PDM</p>
    <p>email:<b>d.protsiuk@gmail.com </b></p>
</footer>

</body>

</html>