<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} AppleUsed {% endblock title %}</title>

    {% include 'base js.html' %}



{% block add_static %} {% endblock add_static %}

</head>

<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="text-header" href="{% url 'main' %}">AppleUsed</a>
                </div>
                <div class="col-4 text-center">
                    <img src="{% static 'img/apple_logo.gif' %}" class="brand-logo center" width="50" height="50">
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
{#                            Your username and password didn't math#}
                            Вы ввели неправильные либо Email либо пароль
                        </div>
{#                        <p> Your username and password didn't math</p>#}
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <span class="text-center"> Вы ввошли как <a href="{% url 'profile_user' %}" class="href-on-page"><p><b class="text-accent-1">{{ request.user.username }}</b></p></a></span>
                        <a class="btn btn-primary btn-outline-secondary" href="{% url 'logout' %}">Выйти</a>
                    {% else %}
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'login' %}">Войти</a>
                    {% endif %}
                </div>
            </div>
        </header>

        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'search_list' %}">К списку обьявлений<span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                            {% if request.user.is_authenticated %}
                                <a class="nav-link" href="{% url 'profile_user' %}">Личный кабинет</a>
                            {% endif %}
                        </li>
                        <div class="col-4 d-flex justify-content-end align-items-center">
                            {% if request.user.is_authenticated %}
                                <a class="btn btn-sm btn-primary btn-top-right" href="{% url 'new_advertisement' %}">Создать обьявление</a>
                            {% else %}
                                <a class="btn btn-sm btn-primary btn-top-right" href="{% url 'login' %}">Создать обьявление</a>
                            {% endif %}
                        </div>
                    </ul>
                </div>
            </nav>
        {% endblock navbar %}

        <br>
        {% block content %}
        {% endblock content %}

        {% include 'footer.html' %}
    </div>
</body>

</html>
