{% extends "base.html" %}

<div class="row">
    {% block content %}
        {% if request.user.is_authenticated %}
            nhfkfkz
        {% else %}
            <form class="col s12" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <ul class='form-errors'>
                    {% for error in form.non_field_errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>

                <div class="input-field col s6">
{#                    <input placeholder="Email" id="">#}
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
{#                    {{ form.as_p }}#}
                </div>

                <div class="input-field col s6">
{#                    <input placeholder="Email" id="">#}
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    {{ form.password }}
                </div>
                <button type="submit" class="waves-effect waves-light btn">Войти</button>

    {#            {% for error in form.non_field_errors %}#}
    {#                    <strong>{{ error|escape }}</strong>#}
    {#            {% endfor %}#}
{#                    {% if request.user.is_authenticated %}#}
{#                        ТРА-Л/-Л/#}
{#                        <button type="submit" class="waves-effect waves-light btn">Вти</button>#}
{#                    {% else %}#}
{#                        <div class="input-field col s6">#}
    {#                    <input placeholder="Email" id="">#}
{#                        <label for="{{ form.email.id_for_label }}">Email</label>#}
{#                        {{ form.email }}#}
    {#                    {{ form.as_p }}#}
{#                        </div>#}
{#    #}
{#                        <div class="input-field col s6">#}
        {#                    <input placeholder="Email" id="">#}
{#                            <label for="{{ form.password.id_for_label }}">Password</label>#}
{#                            {{ form.password }}#}
{#                        </div>#}
{#                        <button type="submit" class="waves-effect waves-light btn">Войти</button>#}
    {#                    Пожалуста авторизуйтесь!#}
{#                    {% endif %}#}

            </form>
        {% endif %}
    {% endblock content %}
</div>
