<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  < class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul>
        <div class="general-container">
            <div class="container top-container">
                <div class="nav-wrapper">
                    <img src="{% static 'img/apple_logo.gif' %}" width="50" height="50">
                    <a href="" class="brand-logo">AppleUsed</a>
            {#        <a href="{% url 'new_advertisement' %}" class="brand-logo">AppleUsed</a>#}
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
            {#        {% if form.errors %}#}
            {#            <p> Your username and password didn't math</p>#}
            {#        {% endif %}#}
                        {% if request.user.is_authenticated %}
                            <span> Вы ввошли как <b>{{ request.user.username }}</b></span>
            {#                <li><b><a href="{% url 'logout' %}">Выйти</a></b></li>#}
                            <li><b><a href="{% url 'sign_out' %}">Выйти</a></b></li>
                        {% else %}
            {#                <li><a href="{% url 'login' %}">Авторизоваться</a></li>#}
                            <li><a href="{% url 'signin' %}">Авторизоваться</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </ul>
  </div>
</nav>